* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
  max-width: 4000px;
}

body {
  background-color: #000;
  color: #fff;
  width: 100%;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
}

.data {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background: #000000;
  position: fixed;
  align-items: center;
}

.icons {
  margin-right: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(196, 47, 255, 0.2);
  padding-left: 0.5rem;
  border-radius: 2rem;
}

.logo {
  margin-left: 5rem;
}

.icons a {
  padding-left: 2rem;
  position: relative;
  top: 0;
  transition: all 0.2s ease-in-out;
}

.icons a:hover {
  top: -4px;
}

.icons p {
  font-size: 1.2rem;
  text-align: center;
  display: inline;
  align-self: center;
}

.promo {
  margin-top: 3.5rem;
  display: flex;
  justify-content: center;
}

.promo img {
  width: 50%;
}

.section-newsletter {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/4.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 8rem 0;
}

#content {
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.9);
  border: 2px solid #401d5d;
  border-radius: 2rem;
  padding: 2rem;
}

#content h3 {
  margin-bottom: 2rem;
  text-align: center;
}

#content input[type="text"],
#content input[type="email"] {
  width: 100%;
  margin-bottom: 0.5rem;
  height: 2rem;
  border-radius: 0.4rem;
  padding-left: 0.5rem;
  outline: 0;
  border: 0;
}

#content input[type="submit"] {
  background-color: #6e2fa1;
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.4rem;
  outline: 0;
  border: 0;
}

#content input[type="submit"]:hover {
  cursor: pointer;
  background-color: #fff;
  color: #6e2fa1;
}

#content span {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #6e2fa1;
  text-decoration-thickness: 0.15rem;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.offers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.offer-text {
  flex: 1;
  padding: 0 5rem 5rem 5rem;
  align-self: flex-start;
  height: 100%;
  text-align: center;
}

.offer-text p {
  font-size: 3.2rem;
}

.offer-text span {
  font-size: 5rem;
  cursor: default;
}

.offer-text .red {
  cursor: default;
  color: #ff0000;
}

.offer-container {
  flex: 3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: 5rem;
}

.prod-container {
  max-width: 350px;
  min-width: 200px;
  min-height: 200px;
  background-color: transparent;
  margin: 0.2rem 0.2rem;
  padding: 2rem 0.2rem;
  border: 3px dashed #6e2fa1;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.prod-container:hover {
  cursor: pointer;
  background-color: rgba(216, 231, 8, 0.6);
}

.text {
  text-align: center;
}

.text .prod {
  font-size: 1.2rem;
}

.text .old {
  color: #401d5d;
}

.text .new {
  font-size: 1.2rem;
  color: #ebe71f;
}

.prod-container img {
  max-width: 200px;
  align-self: center;
}

footer {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #401d5d;
  padding: 0.5rem;
}

footer p {
  text-align: center;
  margin-right: 1rem;
  font-size: 0.95rem;
}

footer a {
  color: #fff;
  position: relative;
  top: 0;
  transition: all 0.2s ease-in-out;
}

footer a:hover {
  top: -4px;
}

footer a:visited {
  text-decoration: none;
}

footer img {
  margin-right: 1rem;
  width: 80px;
}

footer .contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer .contact img {
  width: 30px;
}

.social {
  display: flex;
  flex-direction: row;
}

@media (max-width: 900px) {
  .section-newsletter {
    padding: 4rem 0;
  }

  .prod-container {
    margin: 0.2rem 0;
    padding: 2rem 0.2rem;
  }

  .prod-container img {
    max-width: 100%;
  }

  .offers {
    display: flex;
    flex-direction: column;
  }

  .offer-text {
    padding: 0 0 2rem 0;
  }

  .offer-text span {
    background-color: #401d5d;
    border-radius: 1rem;
    cursor: default;
  }

  .offer-text .red {
    display: none;
  }

  .offer-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-right: 0;
  }

  .prod-container {
    max-width: 300px;
    min-width: 300px;
    min-height: 400px;
    max-height: 400px;
    margin: 0.2rem 0.2rem;
  }
}

@media (max-width: 800px) {
  .offers {
    display: flex;
    flex-direction: column;
  }

  .prod-container {
    max-width: 400px;
    min-width: 200px;
    min-height: 500px;
    margin: 0.2rem 0;
  }
}

@media (max-width: 700px) {
  .icons {
    background-color: transparent;
  }

  .icons p {
    display: none;
  }

  .promo {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
  }

  .promo img {
    width: 80%;
  }

  .offer-text {
    padding: 2rem 0 2rem 0;
  }

  .offer-text p {
    font-size: 2rem;
  }

  .offer-text span {
    font-size: 4rem;
  }

  .section-newsletter {
    width: 100%;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: cover;
    padding: 3rem 0;
  }

  .prod-container {
    max-width: 300px;
    min-width: 200px;
    min-height: 300px;
    margin: 0.2rem 0;
  }
}

@media (max-width: 500px) {
  body {
    margin: 0;
    padding: 0;
  }
  .data {
    width: 100%;
    margin: 0 2rem 0 0;
    padding: 0;
  }

  .icons {
    margin-right: 2rem;
    padding: 0;
  }

  .logo {
    margin: 0;
    padding: 0 1rem;
  }

  .promo img {
    width: 90%;
  }

  .section-newsletter {
    background: none;
  }

  .offer-text p {
    font-size: 1.8rem;
  }

  .offer-text span {
    font-size: 2.8rem;
  }

  .offers {
    margin: 0;
    padding: 0;
  }

  .offer-text {
    padding: 2rem 0;
  }

  #content input[type="submit"] {
    margin-top: 1.2rem;
  }

  footer {
    flex-direction: column;
  }
  footer .contact {
    margin: 0.2rem;
    flex-direction: column;
  }

  footer img {
    margin: 0.4rem;
  }

  footer .social {
    margin-top: 1rem;
  }
}
